.printtable {
    border: 1px solid #7D7D7D;
    width: 100%;
}

.printtable td, .printtable th {
    border: 1px solid #7D7D7D
}

.printtable td {
    text-align: right;
}

input {
    text-align: right;
}

.printouts {
    height: 500px;
    width: 1024px;
    overflow: auto;
}
table.dataTable tbody td {
    white-space: nowrap;
}
.inputs {
    margin-bottom: 20px;
}

.input-table {
    display: box;
    margin: 35px;
    background-color: rgba(173,173,173,.1);
    border: 1px solid #C5D6DE;
    padding: 15px;
}

.pre-inputs td {
    padding: 5px;
}

.result-cell {
    text-align: right;
    padding: 10px;
}

.blue-border {
    border: 2px solid green;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#tabla thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 10;
}
.mih{
	font-weight: bold;
}